@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Nunito+Sans&family=Quicksand&family=Titillium+Web:wght@200&display=swap');

/* To change the background of the entire website, select body and use property background-color. */
body {
    background-color: #ebecf4; 
    color: #403630;
    font-family: 'Quicksand', sans-serif, Arial, Helvetica;
}

/* Navigation */
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 400px;
    list-style-type: none;
    justify-content: space-between;
    text-align: left;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 15px 10px 15px;
    padding: 0px;
}

nav ul img#logo {
    text-decoration: none;
    padding-top: 0px;
    width: 40px;
    height: auto;
}

nav ul li a:link {
    color: brown;
    text-decoration: none;
}

nav ul li a:visited {
    color: brown;
}

nav ul li a:hover {
    color: darkcyan;
}

nav ul li a:active {
     color: tomato;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 6cm;
    grid-auto-columns: auto;
    grid-template-areas: 
    "a b"
    "c d";
    justify-content: space-between;
    gap: 1cm;
    margin-right: 150px;
}

main div#left {
    width: 400px;
    grid-area: a;
    grid-column-start: 1;
    grid-row-end: 1;
    margin-left: 100px;
    vertical-align: top;
    padding-bottom: 20px;
}

main div#right {
    width: 400px;
    grid-area: b;
    grid-column-start: 2;
    grid-row-end: 1;
    margin-left: 20px;
    vertical-align: top;
    padding-bottom: 20px;
}

main div#newsletter {
    width: 400px;
    grid-area: c;
    grid-column-start: 1;
    grid-row-end: 2;
    margin-left: 20px;
    vertical-align: top;
    padding-bottom: 20px;
}

/* Handle Text Styles */
main p#hello, main p#name, main p#about, main ul#handle {
    color: rgb(111, 68, 3);
    text-align: left;
    vertical-align: top;
    padding: 20px 5px 10px 10px;
}
main p#hello {
    color: rgb(111, 68, 3);
    font-size: 25px;
    font-weight: 800;
    font-family: 'Quicksand', sans-serif, Arial, Helvetica;
}

main p#name {
    color: tomato;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Heebo', sans-serif, Arial, Helvetica;
    line-height: 70px;
}

main p#about {
    width: 400px;
    color: rgb(111, 68, 3);
    font-size: 15px;
    font-weight: 800;
    font-family: 'Quicksand', sans-serif, Arial, Helvetica;
    line-height: 40px;
}

/* Linkedin & Resume */
main ul#handle {
    width: 400px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-row-end: 3; 
    font-size: 12px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    padding: 5px 10px 5px 0px;
}

main ul#handle a:link {
    color: tomato;
    text-decoration: none;
}

main ul#handle a:visited {
    color: tomato;
}

main ul#handle a:hover {
    color: darkcyan;
}

main ul#handle a:active {
     color: brown;
}

/* Image */
main img#banner-img {
    width: 100%;
    min-width: 800px;
    height: auto;
}

/* Newsletter */
main input#email {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: #ebecf4;
    color: #2A403F;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
    border: 1px solid #2A403F;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

main input#submit {
    display: inline-block;
    width: 95px;
    height: 67px;
    background-color: tomato;
    color: #f7f7f7;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

/* What I do | Flexbox Boxes*/
main div#box1, main div#box2 {
    width: 45%;
    height: 5cm;
    line-height: 30px;
    padding: 5px 5px 5px 5px;
    justify-content: center;
    align-content: space-between;

}

main div#box3, main div#box4 {
    width: 45%;
    height: 4cm;
    line-height: 30px;
    padding: 0px 0px 40px 5px;
}

main div#description {
    background-color: rgb(111, 68, 3);
}

main h1 {
    color: tomato;
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0px 10px 0px;
}

main h2 {
    color: tomato;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #f7f7f7; 
    color: #2A403F;
    font-size: 15px;
    font-weight: 300;
    height: 50px;
    padding: 40px 0px 20px 0px;
    text-align: center;
    vertical-align: middle;
}

/* Portfolio [ Work ] Page */
main div#work-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 11cm;
    grid-auto-columns: auto;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
    justify-content: space-evenly;
    gap: 10px;
}

main div#planet {
    width: 500px;
    grid-area: a;
    grid-column-start: 1;
    grid-row-end: 1;
    margin-left: 40px;
    vertical-align: top;
    padding-bottom: 20px;
}

main div#planet-info {
    width: 300px;
    grid-area: b;
    grid-column-start: 2;
    grid-row-end: 1;
    line-height: 25px;
    padding-top: 40px;
}

main div#festival {
    width: 500px;
    grid-area: c;
    grid-column-start: 1;
    grid-row-end: 2;
    margin-left: 40px;
    vertical-align: top;
    padding-bottom: 20px;
}

main div#festival-info {
    width: 300px;
    grid-area: d;
    grid-column-start: 2;
    grid-row-end: 2;
    line-height: 25px;
    padding-top: 40px;
}

main div#short {
    width: 500px;
    grid-area: e;
    grid-column-start: 1;
    grid-row-end: 3;
    margin-left: 40px;
    vertical-align: top;
    padding: 100px 0px 20px 0px;
}

main div#short-info {
    width: 300px;
    grid-area: f;
    grid-column-start: 2;
    grid-row-end: 3;
    line-height: 25px;
    padding-top: 100px;
}

main div#planet-info p, main div#festival-info, main div#short-info {
    color: #ebecf4;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

main div#work-1 {
    background-color: aliceblue;
}

main div#work-1 h1 {
    padding: 30px 15px 30px 15px;
}

main div#work-2 {
    background-color: rgb(111, 68, 3);
    border: 5px;
    border-radius: 10px;
}

main div#work-3 h2 {
    color: #ebecf4;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 15px 20px 15px;
}

/* Contact Page */
main div#form-container {
    font-size: 12px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    padding: 5px 10px 5px 0px;
}

main div#contact-1 {
    background-color: aliceblue;
}

main div#contact-1 h1 {
    padding: 30px 15px 30px 15px;
}

main div#contact-1 h1 {
    color: tomato;
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main div#contact-2 h2{
    color: brown;
    margin: 0px;
}

main form {
    color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    line-height: 30px;
} 

main input#name, main input#email-address, main input#subject, main input#message {
    display: inline-block;
    width: 250px;
    height: 20px;
    background-color: #ebecf4;
    color: #2A403F;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 800;
    border: 1px solid #2A403F;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

main input#submit-form {
    display: inline-block;
    width: 95px;
    height: 67px;
    background-color: tomato;
    color: #f7f7f7;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 800;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

/* Responsive to 700 width */
@media only screen and (min-width: 700px) {
    main div#box-container {
        display: flex;
        flex-wrap: wrap;
        margin: 100px 50px 0px 50px;
    }

    main h1 {
        margin: 20px 50px 20px 50px;
    }
}

/* Responsive to 960 width */
@media only screen and (min-width: 960px) {
    
    header, main, footer {
        height: auto;
        margin: 0px 0px 5px 0px;
    }

    main div#newsletter {
        display: block;
        margin: 0px 0px 100px 50px;
        padding: 0px 0px 0px 50px;
        text-align: center;
        position: relative;
    }

    main div#work-2 {
        margin: 0px 50px 0px 50px;
    }

    main form#contact-form {
        margin: 5px 20px 5px 50px;
    }

}